[package]
name = "libfabric-sys"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]

[build-dependencies]
bindgen = "0.72"
libfabric-src = {path="/qfs/people/thom895/rofi/libfabric-src", version = "0.1"}