[package]
name = "libfabric-sys"
version = "0.1.0"
edition = "2021"
links = "ofi"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]

[build-dependencies]
autotools = "0.2"
bindgen = "0.70"
cc = "1.1"
regex = "1.11"

[features]
shared = []
