[package]
name = "pmix-sys"
version = "0.1.0"
edition = "2021"
links = "pmix"
build = "build.rs"

[dependencies]
hwlocality-sys = {version = "0.6.1", features = ["hwloc-latest", "vendored"]}
libevent-sys = {version="0.3", features = ["bundled", "openssl_bundled", "threading"]}


[build-dependencies]
openpmix-src = {version="*", path="/people/thom895/rofi/openpmix-src"}
bindgen = "0.72.1"
